<html>
    <head>
        <title>Alpha Blog</title>
    </head>
    <body>
        <p>This is the homepage</p>
        <ul>
            <li>List item 1</li>
            <li>List item 2</li>
        </ul>
        <%= link_to 'About', about_path %>
    </body>
</html>